@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kanit:wght@300&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #00308f;
    background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
}

.container {
    background-color: #ffffff;
    width: 55%;
    padding: 1.5em 2em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.1em rgba(0, 0, 0, 0.25);
    height: 80%;
}

h1 {
    text-align: center;
    font-size: 5vw;
    margin: 0 0 0em 0;
    font-family: 'Kanit', sans-serif;
    border-bottom: 2px dotted #00308f;
    color: #1c428f;
}

a{
    text-decoration: none;
    color: #1c428f;
    width: 260px;
    /* margin-bottom: 500px; */

}

span{
    color: black;
    font-size: 3vw;
}



#img-cont{
    position: relative;
    left: 10%;
    margin-top: 2rem;
    display: flex;
    justify-content:space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    width: 80%;
    /* padding: px; */
}

.btn-img{
    box-shadow: 0 0.5em 0.9em rgba(144, 144, 144, 0.25);
    width: 100%;
    margin-top: 12px;

}

.btn-img:hover{
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.25);
    transform: scale(1.1);
}

@media (max-width: 600px) {
    .container {
        margin: 18vw 0;
        width: 65%;
        height: auto;
        top: 65%;
    }
    h1 {
        margin-top: 0;
        font-size: 12vw;
        line-height: 15vw;
    }
    span{

        font-size: 8vw;
    }
    
 
    #img-cont{
        left: 0;
        height: 100%;
        margin-top: 2rem;
        justify-content:space-between;

        width: 100%;
    }
    a{
        width: 30vh;
        margin-bottom: 2vh;
    }
    
}